@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Comfortaa', cursive;
}

section {
    margin: 12px 0;
}

h2 {
    text-align: center;
    padding: 10px;
}

.d-block {
    height: 400px;
    object-fit: none;
}

.badge {
    position: absolute;
    font-size: 16px;
}

.noprice {
    text-decoration: line-through;
    padding-right: 3px;
    font-size: 8px;
    color: darkgray;
}

.price {
    font-size: 14px;
}

.card-img {
    height: 300px;
    object-fit: cover;
}

.shapka {
    margin-bottom: 20px;
}

.card-text {
    height: 192px;
}

footer {
    margin: 10px 0 0 0;
    background-color: #023048;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    color: white;
    box-shadow: 0 0 3px black;
}

.footer_ico {
    padding: 0 30px;
}

.icon {
    height: 60px;
    transition: all 0.5s;
}

.icon_text {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

a {
    text-decoration: none;
}

.icon:hover {
    opacity: 0.5;
}

.footer_ico {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body .card-title {
    height: 48px;
}

.card {
    box-shadow: 0 0 1px black;
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.02);
}

nav {
    background: #023048;
}

.dropdown-menu {
    background-color: #023048;
}

.navbar-brand img {
    transition: all 0.5s;
}

.navbar-brand img:hover {
    opacity: 0.5;
}

.col .btn {
    color: orange;
    border: 1px solid orange;
}

.col .btn:hover {
    background-color: orange;
    color: white;
}

.btn-submit:hover {
    background-color: orange;
    color: white;
}

.btn-submit {
    color: orange;
    border: 1px solid orange;
}

.dropdown-item:hover {
    background-color: #1F445A;
}

@media (max-width: 768px) {
    .btn-sign {
        margin-top: 10px;
    }
    h4 {
        margin-bottom: 10px;
    }
    .card-body .card-text {
        height: 221px;
    }
}

header {
    box-shadow: 0 0 3px black;
    position: sticky;
    top: 0;
    z-index: 2;
}

form h5 {
    text-align: center;
}

form p {
    text-align: center;
}